@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
.container-fluid {
}
.sidespace {
  width: 20%;
}
img {
  width: 100%;
}
.col {
  margin-top: 60px;
}
.row img {
  width: 100%;
  margin-top: 30px;
}
.row img:hover {
  opacity: 70%;
}
.card:hover {
}
.row h2 {
  margin-top: 25px;
}
.recipe.day {
  display: flex;
  align-content: flex-start;
}
h1 {
  font-family: "Gloria Hallelujah", cursive;
  margin-bottom: 50px;
}
